<app-logo-only></app-logo-only>
<p-toast position="top-right" key="loginNotify"></p-toast>
<div class="wrapper-login card">
    <div class="grid wrapper-login-layout">
        <div class="col wrapper-login-layout-intro">
            <img src="assets/layout/images/logo-dark.svg" alt="logo">
            <h3>e-famedic</h3>
        </div>
        <div class="col wrapper-login-layout-form">
            <div class="card p-fluid">
                <h5>Đăng nhập</h5>
                <div class="field grid">
                    <label htmlFor="userName" class="col-12 mb-2 md:col-2 md:mb-0">Tài khoản</label>
                    <div class="col-12 md:col-10">
                        <input pInputText id="userName" type="text" [(ngModel)]="userName"/>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="password" class="col-12 mb-2 md:col-2 md:mb-0">Mật khẩu</label>
                    <div class="col-12 md:col-10">
                        <input pInputText id="password" type="password" [(ngModel)]="password"/>
                    </div>
                </div>
                <button pButton pRipple type="button" label="Đăng nhập" styleClass="p-button-sm"
                        (click)="login()"></button>
                <div [ngStyle]="{'height': '5px'}"></div>
                <button pButton pRipple type="button" label="Đăng ký" class="p-button-secondary"
                        styleClass="p-button-sm"></button>
                <div [ngStyle]="{'height': '5px'}"></div>
                <a [routerLink]="'/forgot-password'">Quên mật khẩu?</a>
            </div>
        </div>
    </div>
</div>
